footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    color: aliceblue;
}

.NavLink {
    margin: 15px;
    text-decoration: none;
    color: black;
}

.active {
    color: red;
    text-decoration: underline;
}